evaluate_models.ipynb

# large data files
data/*
!data/format_data.ipynb
!data/import_data.ipynb
!data/find_outliers.ipynb
!data/build_ml_datasets.ipynb

# Trained models
models/*

# Logs
logs/*

hpc_model_training/

# Miscellaneous
Notes.txt
PracticalHPCCommands.txt
.copilotignore
report/


